#root {
  display: flex;
  min-height: 450px;
}

img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  float: left;
  margin-right: 20px;
}

.left-container {
  width: 40%;
  margin-right: 10px;
  background-color: #cecece;
}

.right-container {
  width: 60%;
  background-color: #ffdaaf;
}
.right-container,
.left-container {
  border-radius: 15px;
  padding: 15px;
}

.title {
  color: #252525;
}
.ul {
  padding: 0;
}
.list {
  display: flex;
}

.text {
  font-size: 18px;
}

.text-description {
  display: flex;
  width: 400px;
  font-size: 16px;
}

.btn-add {
  border-radius: 10px;
  background-color: greenyellow;
}
.save-btn {
  margin-top: 130px;
  background-color: greenyellow;
}

.btn-add,
.save-btn {
  width: 50px;
  height: 30px;
  box-shadow: 2px 2px 3px 1px;
  border: none;
  border-radius: 10px;
}

.edit-btn {
  margin-left: auto;
  margin-bottom: 5px;
  background-color: rgb(105, 249, 69);
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 40px;
  box-shadow: 2px 2px 3px 1px;
}

.del-btn {
  margin-left: 30px;
  margin-bottom: 5px;
  background-color: rgb(247, 56, 56);
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  box-shadow: 2px 2px 3px 1px;
}

.add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: flex;
  justify-content: space-between;
  width: 300px;
}
.input {
  margin-bottom: 10px;
}
