#root {
  display: flex;
  min-height: 400px;
}

h1,
h2,
h3 {
  margin: 0;
}
img {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  float: left;
  margin-right: 20px;
}

.left-container {
  width: 40%;
  margin-right: 10px;
  background-color: #ffdcb5;
}

.right-container {
  width: 60%;
  background-color: #ffdcb5;
}
.right-container,
.left-container {
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #252525;
}
.ul {
  padding: 0;
}
.list {
  display: flex;
  align-items: center;
}

.text {
  font-size: 18px;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: default;
  background-color: rgb(105, 249, 69);
}

.text-description {
  display: flex;
  width: 400px;
  font-size: 16px;
}

.add-btn {
  border-radius: 10px;
  background-color: greenyellow;
  cursor: pointer;
}
.save-btn {
  margin-top: 130px;
  background-color: greenyellow;
  cursor: pointer;
}

.add-btn,
.save-btn {
  width: 80px;
  height: 30px;
  box-shadow: 2px 2px 3px 1px;
  border: none;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}

.edit-btn {
  margin-left: auto;
  margin-bottom: 5px;
  background-color: rgb(105, 249, 69);
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 40px;
  box-shadow: 2px 2px 3px 1px;
  cursor: pointer;
}

.del-btn {
  margin-left: 30px;
  margin-bottom: 5px;
  background-color: rgb(247, 56, 56);
  border: none;
  border-radius: 10px;
  width: 60px;
  height: 40px;
  box-shadow: 2px 2px 3px 1px;
  cursor: pointer;
}

.add-btn:hover,
.save-btn:hover,
.edit-btn:hover,
.del-btn:hover {
  transform: scale(1.04);
  box-shadow: 1px 0px 1px 1px;
}

.add-book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: stretch;
}
.input {
  margin-bottom: 13px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
